<ul class="<%= my_class %>">
  <%= image_tag follow.avatar_url, class: "follow-pict" %>
  <li>Name: <%= follow.name %></li>
  <li>Login: <%= follow.login %></li>
  <li>Bio: <%= follow.bio %></li>
  <li>Company: <%= follow.company %></li>
  <li>Location: <%= follow.location %></li>
</ul>
