<ul class='<%= my_class %>'>
  <li>Repo: <%= repo.name %></li>
  <li>Description: <%= repo.description %></li>
  <li>Forked?: <%= repo.is_fork? %></li>
  <li>Stargazers: <%= repo.stargazers %></li>
  <li>Fork Count: <%= repo.forks %></li>
  <li>Primary Language: <%= repo.language %></li>
  <li>Updated on <%= repo.updated_at %></li>
</ul>
