<%= current_user.username %>
<% @repos.each do |repo| %>
<ul class="popular-repos">
  <li>Name: <%= repo.name %></li>
  <li>Forks: <%= repo.forks %></li>
  <li>Stargazers: <%= repo.stargazers %></li>
  <li>Most used language: <%= repo.language %></li>
</ul>
<% end %>
