
Username: <%= @user.username %></br>
Name: <%= @user.full_name %></br>
Website: <%= link_to @user.website, @user.website %></br>
Location: <%= @user.location %></br>
Bio: <%= @user.bio %></br>
Company: <%= @user.company %></br>
<h2>Popular Repositories</h2>
<%= render partial: 'repo-info', collection: @user.pinned_repos, as: :repo, locals: { my_class: 'popular-repos' } %>
<h2>Showing <%= @user.all_repos.count %> Repos:</h2>
<%= render partial: 'repo-info', collection: @user.all_repos, as: :repo, locals: { my_class: 'all-repos' } %>
<h2>Starred Repositories</h2>
<%= render partial: 'repo-info', collection: @user.starred_repos, as: :repo, locals: { my_class: 'starred-repos' } %>
<h2>Total Followers: <%= @user.followers.count %></h2>
<%= render partial: 'follow-info', collection: @user.followers, as: :follow, locals: { my_class: 'followers' } %>
<h2>Total Following: <%= @user.following.count %></h2>
<%= render partial: 'follow-info', collection: @user.following, as: :follow, locals: { my_class: 'following' } %>
